@model IEnumerable<WebApplication2.Books>
@{
    ViewBag.Title = "Книги";
}

<h2>Книги</h2>

@Html.ActionLink("Создать Книгу", "CreateAndEdit", "Book")

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Автор</th>
            <th scope="col">Наименование книги</th>
            <th scope="col">Количество страниц</th>
            <th scope="col">Цена</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td scope="row">@item.AuthorId</td>
                <td scope="row">@item.Title</td>
                <td scope="row">@item.Pages</td>
                <td scope="row">@item.Price</td>
                <td scope="row">@Html.ActionLink("Редактировать книгу", "CreateAndEdit", "Book", new { id = @item.Id }, null)</td>
                <td scope="row">@Html.ActionLink("Удалить книгу", "Delete", "Book", new { id = @item.Id }, null)</td>
            </tr>
        }
</table>
