
@{
    ViewBag.Title = "Авторы";
}


@model List<Authors>
@Html.ActionLink("Создать автора", "Create", "Author")

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Имя</th>
                <th scope="col">Фамилия</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td scope="row">@item.FirstName</td>
                    <td scope="row">@item.LastName</td>
                    <td scope="row">@Html.ActionLink("Редактировать автора", "Edit", "Author", new { id = @item.Id }, null)</td>
                    <td scope="row">@Html.ActionLink("Удалить автора", "Delete", "Author", new { id = @item.Id }, null)</td>
                </tr>
            }
    </table>
